<!-- <mat-grid-list cols="4" rowHeight="30%">
  <mat-grid-tile>
    <newsletter-card></newsletter-card>
    <newsletter-card></newsletter-card>
    <newsletter-card></newsletter-card>

    <newsletter-card></newsletter-card>

  </mat-grid-tile> 
  <mat-grid-tile>Элемент 2</mat-grid-tile>
  <mat-grid-tile>Элемент 3</mat-grid-tile>
  <mat-grid-tile>Элемент 4</mat-grid-tile>
  <mat-grid-tile>Элемент 5</mat-grid-tile>
  <mat-grid-tile>Элемент 6</mat-grid-tile>
  <mat-grid-tile>Элемент 7</mat-grid-tile>
  <mat-grid-tile>Элемент 8</mat-grid-tile>
  </mat-grid-list> 
   -->
  <div class="d-flex flex-wrap">
    <newsletter-card></newsletter-card>
    <newsletter-card></newsletter-card>
    <newsletter-card></newsletter-card>
    <contacts-card></contacts-card>
    <contacts-card></contacts-card>
    <contacts-card></contacts-card>
    <contacts-card></contacts-card>

  </div>