<a routerLink="/newsletter"  routerLinkActive="active" class="no-underline">
<mat-card class="custom-card">
    <mat-card-header>

      <mat-card-title>Создать рассылку</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Ваше содержимое компонента -->
      <div mat-card-avatar class="custom-card-avatar">
        <!-- Иконка со стрелкой типа "download" -->
        <mat-icon>arrow_downward</mat-icon>
      </div>
    </mat-card-content>
    <!-- <mat-card-actions>
    </mat-card-actions> -->
  </mat-card>
</a>
  