
  .custom-card {
    width: 200px;
    background-color: #800080;
    color: white;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
    /* display: inline-block; */
    position: relative; /* Добавлено для позиционирования внутренних элементов */
  }
  
  .custom-card-avatar {
    background-color: #6a0080;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-card-avatar mat-icon {
    margin-top: 4px; /* Изменено для выравнивания стрелки внутри круга */
  }

  a {
    text-decoration: none;
    transition: opacity 0.3s ease; /* Добавлен переход для плавного изменения прозрачности */
  }
  
  a:hover {
    opacity: 0.8; /* Изменение прозрачности при наведении */
  }
  
  